In [1]:
#1.	Write a Python program to find sum of elements in list?

l = [1,2,3,4,5,6]
c = 0
for i in l :
  c = c+i

print(c)

21

In [2]:
#2.	Write a Python program to  Multiply all numbers in the list?

l = [1,2,3,4,5,6]
c = 1
for i in l :
  c = c*i

print(c)

720

In [3]:
#3.	Write a Python program to find smallest number in a list?

l = [1,2,3,4,5,6]
c = min(l)


print(c)

1

In [4]:
#4.	Write a Python program to find largest number in a list?

l = [1,2,3,4,5,6]
c = max(l)


print(c)

6

In [23]:
# 5.	Write a Python program to find second largest number in a list?

l = [1,2,3,1,5,7,45,32,23,4]

l1 = list(set(l))

l1.sort(reverse = True)

print(l1[1])

32

In [22]:
# 6.	Write a Python program to find N largest elements from a list?

l = l = [1,2,3,1,5,7,45,32,23,4]

Number = int(input('enter nth largest number to find'))



l = list(set(l))

l.sort(reverse = True)

print(l[Number-1])

print(l)

enter nth largest number to find3
23
[45, 32, 23, 7, 5, 4, 3, 2, 1]

In [34]:
#7.	Write a Python program to print even numbers in a list?


l = l = [1,2,3,1,5,7,45,32,23,4]

l = list(filter(lambda x : ( x%2 == 0) , l))

print(l)

[2, 32, 4]

In [36]:
#8.	Write a Python program to print odd numbers in a List?

l = l = [1,2,3,1,5,7,45,32,23,4]

l = list(filter(lambda x : ( x%2 == 1) , l))

print(l)

[1, 3, 1, 5, 7, 45, 23]

In [37]:
# 9.	Write a Python program to Remove empty List from List?

l = [[],[1,2,3],2,4,[5],[],4]

i = 0

while i<len(l):
  if type(l[i])== list:
    if len(l[i]) == 0 :
      l.pop(i)
  i = i+1
print(l)

[[1, 2, 3], 2, 4, [5], 4]

In [48]:
# 10.	Write a Python program to Cloning or Copying a list?

l = [1,2,3,4,2,1,4,5,6,7]

l1 = l

print(l1)

#l1 = l[:]
#print(l1)

[1, 2, 3, 4, 2, 1, 4, 5, 6, 7]

In [41]:
# 11.	Write a Python program to Count occurrences of an element in a list?

l = [1,2,3,1,2,3,1,2,4]

d = {}

for i in l:
  if i not in d:
    d[i] = l.count(i)
print(d)

{1: 3, 2: 3, 3: 2, 4: 1}