**Question 1**

Create a function that takes a list of non-negative integers and strings and return a new list without the strings.
Examples
filter_list([1, 2, "a", "b"]) ➞ [1, 2]

filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [90]:
def numbers(a):
  l = [i for i in a if type(i)== int]
  return l

numbers([1, "a", "b", 0, 15])

[1, 0, 15]

In [91]:
numbers([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

**Question 2**

The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.
Examples
reverse("Hello World") ➞ "DLROw OLLEh"

reverse("ReVeRsE") ➞ "eSrEvEr"

reverse("Radar") ➞ "RADAr"

In [97]:
def string(a):
  a = a[::-1]
  return a.swapcase()

string('ReVersE')

'eSREvEr'

**Question 3**

You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6
With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), where:
first  ➞ 1

middle ➞ [2, 3, 4, 5]

last ➞ 6
Your task is to unpack the list writeyourcodehere into three variables, being first, middle, and last, with middle being everything in between the first and last element. Then print all three variables.

In [100]:
def variable(a):
  if len(a) > 2:
    first = a[0]
    middle = a[1:-1]
    last = a[-1]
  print('The first variable is {},second is {},last is {}'.format(first,middle,last))

variable([2,3,2,4,5])

The first variable is 2,second is [3, 2, 4],last is 5

**Question 4**

Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [108]:
def factorial(n):
  if (n==1 or n==0):
    return 1
  else :
    return n*factorial(n-1)

factorial(3)

6

In [109]:
factorial(1)

1

In [110]:
factorial(0)

1

**Question 5**

Write a function that moves all elements of one type to the end of the list.
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
# Move all the 1s to the end of the array.

move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]

move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]

In [117]:
def array(n,a):
  for i in n:
    if i==a:
      n.append(i)
      n.remove(i)
  return n

array([1,2,3,4,4,5,6],4)

[1, 2, 3, 5, 6, 4, 4]

In [118]:
array([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [119]:
array(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']