Question1. 

Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

In [121]:
def arguments(a,b,c):
  sum = 0
  for i  in range(a,b+1):
    if i%c == 0:
      sum = sum+i

  return sum

arguments(1,10,3)

18

In [122]:
arguments(1,10,2)

30

**Question2. **

Create a function that returns True if a given inequality expression is correct and False otherwise.
Examples
correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [123]:
def correct_signs(a):
  b = eval(a)

  if b is True:
    return True
  else :
    return False

correct_signs("3 < 7 < 11")

True

In [125]:
correct_signs("13 > 44 > 33 > 1")

False

In [126]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

**Question3.** 

Create a function that replaces all the vowels in a string with a specified character.
Examples
replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

In [129]:
def replace_vowels(a):
  vow = 'aeiouAEIOU'
  b = ''
  for i in a:
    if i in vow:
      b = b+ i.replace(i,'#')
    else :
      b =b+i
  return b

replace_vowels('i am siva')

'# #m s#v#'

Question4. 

Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [131]:
def factorial1(a):
  if (a ==1 or a==0) :
    return 1
  else :
    return a*factorial1(a-1)

factorial1(3)

6

In [132]:
factorial1(0)

1

**Question 5**

Hamming distance is the number of characters that differ between two strings.
To illustrate:
String1: "abcbba"
String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.
Create a function that computes the hamming distance between two strings.
Examples
hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

In [134]:
def hammering_distance(a,b):
  sum = 0
  for i in range(len(a)):
    if a[i] != b[i] :
      sum = sum+1

  return sum

hammering_distance("abcde", "bcdef")

5

In [135]:

hammering_distance("strong", "strung")

1

In [136]:
hammering_distance("abcde", "abcde")

0